In [1]:
import pandas as pd

In [2]:
# Read in file
df = pd.read_csv("Resources/2019-citibike-all2.csv")
df.head()

,tripduration (min),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid,tripdistance (mi)
0,3.350000,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,3183_3214,0.287680
1,8.416667,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,3183_3638,0.566222
2,12.600000,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,3183_3192,1.215543
3,26.250000,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,3183_3638,0.566222
4,26.100000,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,3183_3638,0.566222

In [3]:
# Select desired columns by index
df2 = df.iloc[:,3:12]
df2.head()

,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid
0,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612
1,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213
2,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164
3,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672
4,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522

In [4]:
# Add Ride ID column to data frame
df2["rideid"] = df["rideid"]
df2.head()

,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,rideid
0,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,3183_3214
1,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,3183_3638
2,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,3183_3192
3,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,3183_3638
4,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,3183_3638

In [5]:
# Make new column names
columns = ["Start/End", "Ride ID", "Station ID", "Station Name", "Latitude", "Longitude", "Bike ID"]

In [6]:
# Create empty data frames to store info
df3 = pd.DataFrame(columns=columns)
df4 = pd.DataFrame(columns=columns)

In [7]:
# Populate df3 with 'ride start' info
df3["Ride ID"] = df2["rideid"]
df3["Station ID"] = df2["start station id"]
df3["Station Name"] = df2["start station name"]
df3["Latitude"] = df2["start station latitude"]
df3["Longitude"] = df2["start station longitude"]
df3["Bike ID"] = df2["bikeid"]

In [8]:
df3["Start/End"] = "Start"
df3.tail()

,Start/End,Ride ID,Station ID,Station Name,Latitude,Longitude,Bike ID
248279,Start,3639_3203,3639,Harborside,40.719252,-74.034234,29522
248280,Start,3186_3185,3186,Grove St PATH,40.719586,-74.043117,29679
248281,Start,3276_3211,3276,Marin Light Rail,40.714584,-74.042817,26198
248282,Start,3211_3209,3211,Newark Ave,40.721525,-74.046305,29512
248283,Start,3185_3277,3185,City Hall,40.717733,-74.043845,26223

In [9]:
# Populate df4 with 'ride end' info
df4["Ride ID"] = df2["rideid"]
df4["Station ID"] = df2["start station id"]
df4["Station Name"] = df2["start station name"]
df4["Latitude"] = df2["start station latitude"]
df4["Longitude"] = df2["start station longitude"]
df4["Bike ID"] = df2["bikeid"]

In [10]:
df4["Start/End"] = "End"
df4.tail()

,Start/End,Ride ID,Station ID,Station Name,Latitude,Longitude,Bike ID
248279,End,3639_3203,3639,Harborside,40.719252,-74.034234,29522
248280,End,3186_3185,3186,Grove St PATH,40.719586,-74.043117,29679
248281,End,3276_3211,3276,Marin Light Rail,40.714584,-74.042817,26198
248282,End,3211_3209,3211,Newark Ave,40.721525,-74.046305,29512
248283,End,3185_3277,3185,City Hall,40.717733,-74.043845,26223

In [17]:
df5 = pd.concat([df3, df4])
df5.tail()

,Start/End,Ride ID,Station ID,Station Name,Latitude,Longitude,Bike ID
248279,End,3639_3203,3639,Harborside,40.719252,-74.034234,29522
248280,End,3186_3185,3186,Grove St PATH,40.719586,-74.043117,29679
248281,End,3276_3211,3276,Marin Light Rail,40.714584,-74.042817,26198
248282,End,3211_3209,3211,Newark Ave,40.721525,-74.046305,29512
248283,End,3185_3277,3185,City Hall,40.717733,-74.043845,26223

In [20]:
df5 = df5.sort_values(by=["Ride ID"])
df5.head()

,Start/End,Ride ID,Station ID,Station Name,Latitude,Longitude,Bike ID
59482,Start,3183_224,3183,Exchange Place,40.716247,-74.033459,29287
59482,End,3183_224,3183,Exchange Place,40.716247,-74.033459,29287
101815,End,3183_311,3183,Exchange Place,40.716247,-74.033459,29616
101815,Start,3183_311,3183,Exchange Place,40.716247,-74.033459,29616
19268,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,26221

In [22]:
df6 = df5.reset_index(drop=True)
df6

,Start/End,Ride ID,Station ID,Station Name,Latitude,Longitude,Bike ID
0,Start,3183_224,3183,Exchange Place,40.716247,-74.033459,29287
1,End,3183_224,3183,Exchange Place,40.716247,-74.033459,29287
2,End,3183_311,3183,Exchange Place,40.716247,-74.033459,29616
3,Start,3183_311,3183,Exchange Place,40.716247,-74.033459,29616
4,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,26221
5,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29299
6,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29598
7,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29441
8,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29260
9,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29473
10,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29530
11,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29669
12,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,33609
13,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29293
14,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29494
15,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29277
16,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29545
17,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29489
18,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29198
19,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29457
20,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29502
21,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29612
22,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,26259
23,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29596
24,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29253
25,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29470
26,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29608
27,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29445
28,End,3183_3184,3183,Exchange Place,40.716247,-74.033459,29640
29,Start,3183_3184,3183,Exchange Place,40.716247,-74.033459,29581
...,...,...,...,...,...,...,...
496538,End,3792_3681,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26245
496539,Start,3792_3681,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29230
496540,End,3792_3694,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29294
496541,Start,3792_3694,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26250
496542,Start,3792_3694,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29294
496543,End,3792_3694,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26194
496544,Start,3792_3694,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26194
496545,End,3792_3694,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26251
496546,End,3792_3694,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26250
496547,Start,3792_3694,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26251
496548,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29289
496549,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29629
496550,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29289
496551,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29289
496552,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26292
496553,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26304
496554,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29494
496555,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29518
496556,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29280
496557,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29678
496558,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29629
496559,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29518
496560,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26292
496561,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29678
496562,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26304
496563,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29494
496564,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29289
496565,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29540
496566,End,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29280
496567,Start,3792_3791,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29540

In [23]:
df6.to_csv("Resources/ride-paths.csv", index=False)